.m-text-italic{
	font-family: $font-second;
	font-style: italic;
}

.bold{
	font-weight: bold;
}

.title{
	font-size: 3.5em;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	letter-spacing: normal;
}

.description{
	font-family: $font-second;
	font-size: 1.7em;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.47;
	letter-spacing: normal;
}

.title + .description{
	margin-top: 15px;
}