.m-text-italic
	font-family: $font-second;
	font-style: italic;
	font-weight: normal;
	+below($breakpoints.sm)
		font-family:inherit;
		font-style: inherit;
		font-weight: inherit;

.bold
	font-weight: bold;


.title
	font-size: 3.5em;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	letter-spacing: normal;
	+below($breakpoints.sm)
		font-weight:bold;
		font-size: 2.5em;

.description
	font-family: $font-second;
	font-size: 1.7em;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.47;
	letter-spacing: normal;
	+below($breakpoints.sm)
		font-size: 1.8em;
		line-height: 1.67;
		p
			display: inline;


.title + .description
	margin-top: 15px;


.ju_sb
	justify-content: space-between;