.header
	position:absolute;
	top:2em;
	z-index:5;
	width: calc(100% + 17px);
	+below($breakpoints.sm)
		width:100%;
	transition: background-color $glb-anim-drt;
	&.is-moved
		position: fixed;
		background-color: rgba(47, 32, 101, 0.95);
		top:0;
		.button-simple
			display: block;
	&__area
		height: 6em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	&__left
		display: flex;
		align-items: center;
		cursor: pointer;
	&__right
		height: 100%;
		display: flex;
		align-items: center;
		& > *+*
			margin-left: 30px;
		.button-simple
			display: none;
			+below($breakpoints.sm)
				display: block;
				height:60px;
				position: fixed;
				bottom:0;
				left:0;
				right:0;
				width:100%;
				border-radius: 0;
				margin-left:0;


.logo-title
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.54;
	letter-spacing: normal;
	color: #ffffff;
	margin-left: 10px;
	text-transform: uppercase;

.logo
	width: 3.1em;
	height: 2.4em;

.navigation
	display: flex;
	align-items: center;
	font-size: 14px
	+below($breakpoints.sm)
		display:none;
	& > * + *
		margin-left:25px;
	li:hover
		color: #3ddf9e;
		cursor: pointer;
	li.is-active
		color: #3ddf9e;