.screen2
	background-image: linear-gradient(to bottom, #38aff2, #6573f5);
	&__area
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		height:100%;
	&__left
		width: (100% /12 * 7);
		+below($breakpoints.sm)
			display: none;
	&__left-img
		width:342px;
		height:253px;
		background-image: url('http://bashinsky.pro/sites/barcodes/assets/img/raster/upc-illustrate.png');
		@media (-webkit-min-device-pixel-ratio: 2) {
			background-image: url('http://bashinsky.pro/sites/barcodes/assets/img/raster/upc-illustrate@2x.png');
		}
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	&__right
		height:253px;
		padding-top: 14px;
		width: (100% /12 * 5);
		+below($breakpoints.sm)
			width: 100%;
			height:auto;
			margin-bottom: 40px;
	&__top
		flex-grow:1;
		display: flex;
		align-items: center;
	&__bottom
		height: 25em;
		display: flex;
		justify-content: space-between;
		& > * + *
			margin-left: 20px;
		+below($breakpoints.sm)
			flex-wrap: wrap;
			height: auto;
			& > * + *
				margin-left: 0;
				margin-top: 30px;
	&__bottom-item
		max-width: 350px;
		+below($breakpoints.sm)
			max-width: none;
			width:100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
	&__bottom-item-icon
		width: 50px;
		height: 50px;
		margin-bottom: 15px;
	&__bottom-item-title
		font-size: 17px;
		line-height: 1.47;
		margin-bottom: 10px;
	&__bottom-item-description
		font-size: 14px;
		line-height: 1.43;