.screen3
	background-color: #6573f5;
	width:auto;
	min-width: 100vw;
	overflow: visible;
	height:auto;
	min-height: 100vh;
	+below($breakpoints.sm)
		padding-bottom: 45px;
	&__area
		display: flex;
		flex-direction: column;
		height:100%;
	&__header
		margin-top: 71px;
		margin-bottom: 49px;
		+below($breakpoints.sm)
			margin-top: 0;
			margint-bottom: 30px;
	//&__middle
	//	flex-grow: 1;
	&__comments
		margin-top: -15px;
		margin-left: -10px;
		margin-right: -10px;
		display: flex;
		flex-wrap:wrap; 
	&__comment-socket
		margin-top: 15px;
		padding-left: 10px;
		padding-right: 10px;
		width: 50%;
		display: flex;
		&.is-hidden
			display: none;
		+below($breakpoints.sm)
			width:100%;
	&__comment
		width:100%;
		border-radius: 4px;
		background-color: #ffffff;
		padding: 25px 30px;
		+below($breakpoints.sm)
			padding: 15px 15px;
	&__comment-top
		margin-bottom: 18px;
		display:flex;
		justify-content:space-between;
		align-items:center;
		+below($breakpoints.sm)
			display: block;
			margin-bottom: 10px;
	&__comment-top-rank
		display: flex;
		+below($breakpoints.sm)
			margin-bottom: 10px;
		& > * + *
			margin-left: 6px;
	&__comment-description
		font-size: 15px;
		font-family: $font-second;
		line-height: 1.67;
		color: #5970a0;
	&__comment-top-author
		font-size: 13px;
		color: #849bc9;
	&__actions
		margin-top: 58px;
		margin-bottom: 20px;
		display: flex;
		justify-content:space-between;
		&:before
			content:'';
			display: block;
			width: 55px;
			height: 55px;
		+below($breakpoints.sm)
			margin-top: 25px;
			flex-direction: column;
			align-items: center;
			margin-bottom: 0;
			&:before
				content:none;
		.button2
			+below($breakpoints.sm)
				width: 100%;
		.button3
			+below($breakpoints.sm)
				margin-top: 20px;