.screen1
	background-image: linear-gradient(to top, #38aff2, #843cf6);
	&.is-active
		z-index:10;
	&__area
		height:100%;
		display: flex;
		flex-direction: column;
		padding-top: 10em;
		+below($breakpoints.sm)
			padding-top:9em;
	&__top
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		+below($breakpoints.sm)
			align-items: flex-start;
	&__top-left
		padding-right: 1em;
		width: 50%;
		+below($breakpoints.sm)
			width:100%;
			padding-right: 0;
	&__top-right
		padding-left: 1em;
		width: 50%;
		display: flex;
		justify-content: flex-end;
		+below($breakpoints.md)
			justify-content: center;
		+below($breakpoints.sm)
			overflow: hidden;
			max-height: 0;
			max-width: 0;
			//display: none;
	&__bottom
		margin-top: 4.5em;
		height: 5em;
		margin-bottom: 2em;
		+below($breakpoints.sm)
			display: none;

	&__text-banner-part3
		margin-top: 6em;
		+below($breakpoints.sm)
			margin-top:3em;
	&__logo-list
		margin-top: -2em;
		margin-left: -1em;
		display: flex;
		flex-wrap: wrap;
		+below($breakpoints.sm)
			margin-left: 0;
			justify-content: center;
	&__logo-list-item
		margin-top: 2em;
		margin-left:1em;
		margin-right:1em;
		opacity: 0.55;
		transition: opacity;
		&:hover
			opacity: 1;
	&__form-container

		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		@keyframes rotate {
			from {
				transform: translate(-50%, -50%) rotate(0);
			}
			to {
				transform: translate(-50%, -50%) rotate(360deg);
			}
		}
		&:before
			content:'';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 48em;
			height: 48em;
			border-radius: 50%;
			background-image: linear-gradient(to top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1));
			animation: 6s linear 0s infinite alternate rotate;
			z-index: 1;

.form
	max-width: 38em;
	height: 40em;
	padding: 3em 2em;
	border-radius: 4px;
	background-color: #ffffff;
	position: relative;
	z-index:2;
	display:flex;
	align-items: center;
	justify-content: center;
	&.is-hidden
		display: none;
	&.is-active
		+below($breakpoints.sm)
			border-radius: 0;
			height: auto;
			max-width: none;
			position: fixed;
			top:0;
			left:0;
			bottom: 0;
			right:0;
	&__title
		font-weight: bold;
		color: #5970a0;
		font-size: 23px;
		line-height: 30px;
		margin-bottom:20px;
		display: none;
		+below($breakpoints.sm)
			display: block;
	&__close
		display: none;
		+below($breakpoints.sm)
			display: block;
			position: absolute;
			right: 30px;
			top: 20px;

	&__response
		display: none;
	&__error
		display: none;
	&__field-list
		counter-reset: section;
	&__line + &__line
		margin-top: 2em;
	&__line
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 1.5em
		border-bottom:1px solid #ecf0f7;
		&:before
			content: counter(section)'.';
			counter-increment: section;
			width: 15px;
			height: 15px;
			font-size: 13px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.15;
			letter-spacing: normal;
			color: #849bc9;
			margin-right: 5px;
			+below($breakpoints.sm)
				display:none;

	&__line-title
		flex-grow:1;
		font-size: 13px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.15;
		letter-spacing: normal;
		text-align: left;
		color: #5970a0;

	&__line-content
		margin-left: 2em;
		margin-top: 1em;
		width: 100%;
		+below($breakpoints.sm)
			margin-left:0;

	&__button-list
		display: flex;
		margin-left: -10px;
		margin-top: -10px;
		& > *
			margin-left: 10px;
			margin-top: 10px;
		+below($breakpoints.sm)
			flex-wrap:wrap;

	&__button-list-item
		&.w250 > *
			width:80px;

	&__bottom
		display:flex;
		justify-content: space-between;
		margin-top: 24px;
		+below($breakpoints.sm)
			justify-content: center;
			flex-wrap: wrap;

	&__total
		font-size: 18px;
		color: #5970a0;
		height: 25px;
		margin-bottom: 5px;
		line-height: 25px;
		+below($breakpoints.sm)
			display: none;

	&__promocode-button
		position: relative;
		font-size: 13px;
		color: #849bc9;
		height: 15px;
		line-height: 15px;
		span
			cursor: pointer;

	&__bottom-left
		+below($breakpoints.sm)
			text-align: center;
			width: 100%;

	&__bottom-right
		+below($breakpoints.sm)
			padding-top: 60px;
			width: 100%;
			.button
				width: 100%;
				height: 60px;
				position: absolute;
				bottom:0;
				left:0;
				border-radius:0;
				&:after
					content:none;



.customer-line
	display: flex;
	height: 50px;
	position: relative;
	//& > * + *
	//	margin-left: 2em;

	&__item
		will-change: transform, opacity;
		position: absolute;
		top:0;
		left:0;
		padding: 10px;
		max-width: 140px;
		min-width:140px;
		height: 50px;
		border-radius: 4px;
		background-color: rgba(255, 255, 255, 0.25);
		display: flex;
		align-items: center;
		transition: opacity $glb-anim-drt, transform $glb-anim-drt;
		&_wait
			background:transparent;
			border:1px dashed #fff;
		&_appear
			opacity:0;
	&__item-image
		width:37px;
		height: 30px;
		position: relative;
	&__count
		position: absolute;
		left:25px;
		top: -4px;
		height: 15px;
		width: 29px;
		font-size: 10px;
		line-height: 15px;
		text-align: center;
		border-radius: 4px;
		background-color: #f5656d;
	&__item-text
		margin-left:22px;
	&__item-time
		height: 12px;
		font-size: 10px;
		line-height: 12px;
		margin-bottom: 4px;
	&__item-id
		height: 15px;
		line-height: 15px;
		font-size: 12px;
	&__item-wait-text
		margin-left: 15px;
		font-size: 10px;
		line-height: 1.5;

.form-success
	display: none;
	width: 38em;
	z-index:2;
	position: relative;
	height: 40em;
	background: #fff;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	padding: 30px 0 35px;
	+below($breakpoints.sm)
		border-radius: 0;
		height: auto;
		width: auto;
		position: fixed;
		top:0;
		left:0;
		bottom: 0;
		right:0;
	&.is-active
		display: flex;
	&__number
		font-size: 13px;
		font-weight: 500;
		color: #5970a0;
		line-height: 1.15;
		margin-bottom: 10px;
	&__title
		line-height: 45px;
		font-size: 35px;
		font-weight: bold;
		color: #3ddf9e;
		margin-bottom: 10px;
	&__email
		font-size: 13px;
		font-weight: 500;
		line-height: 1.15;
		color: #5970a0;
		padding:0 20px 20px;
		border-bottom: 1px solid #ecf0f7;;
		margin-bottom: 35px;
	&__icon
		margin-bottom: 40px;
	&__buy-again
		width: 230px;
		height: 45px;
		border-radius: 22.5px;
		background-color: #656ff5;
		font-size: 17px;
		font-weight: 900;
		line-height: 1.47;
		color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		cursor: pointer;
		&:hover
			background-color: darken(#656ff5, 10%);
		svg
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
	&__close
		display: none;
		+below($breakpoints.sm)
			display: block;
			position: absolute;
			right: 30px;
			top: 20px;
			cursor:pointer;

.form-loader
	display: none;
	width: 38em;
	z-index:2;
	position: relative;
	height: 40em;
	background: #fff;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	padding: 30px 0 35px;
	+below($breakpoints.sm)
		border-radius: 0;
		height: auto;
		width: auto;
		position: fixed;
		top:0;
		left:0;
		bottom: 0;
		right:0;
	&.is-show
		display: flex;