.screen1
	background-image: linear-gradient(to top, #38aff2, #843cf6);
	&__area
		height:100%;
		display: flex;
		flex-direction: column;
		padding-top: 10em;
	&__top
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
	&__top-left
		padding-right: 1em;
		width: 50%;
	&__top-right
		padding-left: 1em;
		width: 50%;
		display: flex;
		justify-content: flex-end;
	&__bottom
		height: 14em;
	&__text-banner-part3
		margin-top: 6em;
	&__logo-list
		margin-top: -2em;
		margin-left: -2em;
		display: flex;
		flex-wrap: wrap;
	&__logo-list-item
		margin-top: 2em;
		margin-left:2em;
	&__form-container
		width: 48em;
		height: 48em;
		position: relative;
		&:before
			content:'';
			position: absolute;
			border-radius: 50%;
			background-image: linear-gradient(to top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1));